
@import 'cosmic.variables';
@import 'cosmic.utils';
@import 'include-media';
@import 'icons';

body, html, #app {
    background: $co-body-background;
    color: $co-color-text;
    
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;

    width: auto;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    display: block;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    flex: none;
}

.block {
    display: flex;
    max-width: 100%;
}

.textblock {
    display: block;
    margin: 0.5em 0;
}

.block-center {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;;
}

.flex {
    flex: 1;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-right {
    align-self: flex-end;
    text-align: right;
}

.flex-center {
    justify-self: center;
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    background: mix(mix($co-body-background, $co-color-background), $co-body-background,);
}


.container {
    flex: 1 auto;
    padding: 5em 0 5em 3em;
    max-width: 100%;
    box-sizing: border-box;
}

.large-space {
    padding: 3em;
}

.space-below {
    padding-bottom: 2em;
}

.space-above {
    padding-top: 1.5em;
}

.sidebar {
    flex: 1 auto;
    background: $co-body-background;
}

@include media ("<=tablet") {
    .sidebar {
        display: none;
    }

    .container {
        padding: 5em 1em;
    }
}

@include media (">tablet") {

    .sidebar {
        width: 25vw;
        padding: 2em 1em 5em 2em;
    }

    #wrapper {
        padding-right: 25vw;
    }

}