


.co-glass-dark {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    opacity: 0.95;
}

.co-glass-light {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    opacity: 0.95;
}